.button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #f43f5f;
  border: 1px solid #f43f5f;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
}

p {
  font-family: "Poppins", sans-serif;
}

.button.active {
  background-color: #f43f5f;
  color: white;
  border-color: transparent;
  font-size: 16px;
}

.button:hover {
  background-color: #f5788e8f;
  color: black;
}

.home-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 500px;
  text-align: "center";
}

.home-small {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  background-color: #fce2e5;
  color: #f43f5f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  width: fit-content;
  text-align: center;
}

.circle {
  position: absolute;
  top: 700px;
  width: 100%;
  height: 315px;
  z-index: 0;
}

.home-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-lineParagraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #676767;
}

.home {
  font-weight: 600;
  font-size: 40px;
}

.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-align: center;
  width: 850px;
}

.home-bigdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.home-stuffs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.home-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.home-stuff-description {
  color: #676767;
  width: 234px;
}

.home-stuff-label {
  font-weight: 500;
  font-size: 20px;
}

.home-stuff-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-commitment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 100px;
}

.home-commitment-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.home-commitment-title {
  font-weight: 500;
  font-size: 24px;
}

.home-commitment-paragraph {
  color: #676767;
  font-size: 14px;
  line-height: 20px;
}

.home-commitment-image{
  width: 530px;
  height: 519px;
}

.home-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.home-line-title {
  font-weight: 600;
  font-size: 40px;
}

.home-line-para {
  font-weight: 200;
  font-size: 20px;
  color: #676767;
}

.home-products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 100px;
}

.home-product-image{
  width: 351px;
  height: 393px;
  position: relative;
}

@media (max-width: 1024px) {
  
  .home-commitment-paragraph{
    max-width: 400px;
  }

  .home-commitment-image {
    width: 300px;
    height: 300px;
  }

  .home-stuffs {
    grid-template-columns: auto auto;
    gap: 24px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
  }

  .circle {
    top: 1100px;
  }

  .home-paragraph {
    width: 600px;
  }
}
@media (max-width: 768px) {

  .home-commitment-paragraph{
    max-width: 500px;
  }

  .home-commitment {
    flex-direction: column;
  }

  .home-commitment-image {
    width: 500px;
    height: 500px;
  }
  .home-stuffs {
    grid-template-columns: auto;
    gap: 32px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 32px;
    align-items: center;
  }

  .button {
    width: 200px;
    height: 50px;
  }

  .home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home-text {
    text-align: left;
    width: 400px;
  }

  .circle {
    top: 1150px;
  }

  .home-paragraph {
    width: 400px;
  }
}
