.button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #f43f5f;
  border: 1px solid #f43f5f;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
}

p {
  font-family: "Poppins", sans-serif;
  
}

.button.active {
  background-color: #f43f5f;
  color: white;
  border-color: transparent;
  font-size: 16px;
}

.button:hover {
  background-color: #f5788e8f;
  color: black;
}

.home-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 500px;
  text-align: 'center'
}

.home-small{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  background-color: #FCE2E5;
  color: #F43F5F;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.circle{
  position: absolute;
    top: 700px;
    width: 100%;
    height: 315px;
    z-index: 0;
}

.home-line{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-lineParagraph{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #676767;
}

.home-lineTitles{
 
  font-weight: 600;
  font-size: 40px;
}

@media (max-width: 1024px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
     align-items: center;
  }

  
}
@media (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 32px;
    align-items: center;
  }

  .button {
    width: 200px;
    height: 50px;
  }

  .home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home-text {
    text-align: left;
    width: 400px;
  }
}
